.categories{
    height: 96%;
    width: 96%;
    
    background-color: moccasin;
    border: .75vh solid firebrick;
    border-radius: 1vh;
    
    /* justify-content: center;
    align-items: center; */
    
    
    
}
.categories img{
    height: 45%;
    width: 45%;
    border-radius: 2vh;
    border: 2px solid lightcoral;
    margin: 1vh;
    float: left;
    
}

